In [1]:
import pandas as pd 
data_path = '../input/'
train = pd.read_pickle(data_path+'/train.pkl')
train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [3]:
train['Close_lag_1'] = train.groupby('Asset_ID').Close.shift(1)
train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Close_lag_1
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218,NaN
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399,NaN
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643,NaN
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922,NaN
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264,NaN

closeがopenと必ず一致する訳ではない

In [5]:
train[train.Close_lag_1 == train.Open]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Close_lag_1
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875,8.530000
13,1514764920,6,192.0,738.507500,745.1400,732.4900,738.260000,232.793141,738.268967,-0.004441,738.507500
35,1514765100,5,19.0,7.635800,7.6358,7.6100,7.610000,2268.362218,7.628076,-0.006154,7.635800
41,1514765160,0,89.0,8.456000,8.4560,8.3999,8.400000,3765.250000,8.403468,-0.005455,8.456000
49,1514765220,0,20.0,8.400000,8.4000,8.3800,8.395800,827.170000,8.390564,-0.000644,8.400000
...,...,...,...,...,...,...,...,...,...,...,...
24235856,1632178380,0,556.0,365.207500,365.6000,364.4000,364.510000,1666.706760,364.950698,-0.005124,365.207500
24236094,1632179400,0,573.0,361.899500,362.3000,361.2000,361.606500,2401.179221,361.682247,-0.003310,361.899500
24236206,1632179880,0,853.0,361.458000,362.7000,361.0850,362.457500,2164.098600,361.863281,-0.002907,361.458000
24236421,1632180780,6,3926.0,2948.182857,2957.8400,2945.0000,2956.465714,3032.537131,2951.549583,0.000255,2948.182857
24236472,1632181020,0,396.0,361.741500,362.1000,361.0000,361.107000,1289.216925,361.516746,0.008539,361.741500