In [2]:
import talib

In [3]:
import pandas as pd 
data_path = '../input/'
train = pd.read_pickle(data_path+'/train.pkl')
train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [4]:
train['ema'] = train.groupby('Asset_ID').Close.transform(lambda x: talib.EMA(x))

In [5]:
train[train.Asset_ID==0].describe()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,ema
count,1.942619e+06,1942619.0,1.942619e+06,1.942619e+06,1.942619e+06,1.942619e+06,1.942619e+06,1.942619e+06,1.942619e+06,1.929204e+06,1.942590e+06
mean,1.573678e+09,0.0,1.864472e+02,7.693521e+01,7.703386e+01,7.683172e+01,7.693510e+01,1.861112e+03,7.693310e+01,3.183935e-05,7.693348e+01
std,3.388205e+07,0.0,4.368002e+02,1.405713e+02,1.407604e+02,1.403731e+02,1.405703e+02,2.899794e+03,1.405683e+02,5.451780e-03,1.405665e+02
min,1.514765e+09,0.0,1.000000e+00,4.127000e+00,4.139800e+00,4.120000e+00,4.122500e+00,1.000000e-04,4.128648e+00,-3.016350e-01,4.161519e+00
25%,1.544434e+09,0.0,1.800000e+01,1.302450e+01,1.303890e+01,1.301040e+01,1.302620e+01,4.252798e+02,1.302341e+01,-1.800458e-03,1.302862e+01
50%,1.573812e+09,0.0,4.500000e+01,1.815500e+01,1.816850e+01,1.814030e+01,1.815490e+01,1.020461e+03,1.815378e+01,-1.934316e-05,1.815685e+01
75%,1.603023e+09,0.0,1.530000e+02,3.077380e+01,3.079855e+01,3.074705e+01,3.077400e+01,2.184086e+03,3.077290e+01,1.781143e-03,3.077118e+01
max,1.632182e+09,0.0,3.205300e+04,6.911170e+02,6.917700e+02,6.895000e+02,6.911495e+02,2.124004e+05,6.905747e+02,3.581954e-01,6.854214e+02

In [16]:
for id in train.Asset_ID.unique():
# ADX - Average Directional Movement Index (平均方向性指数)
# トレンドの存在を確認するための指標
    x = train[train.Asset_ID==id]
    train.loc[train.Asset_ID==id, 'adx'] = talib.ADX(x.High, x.Low, x.Close, timeperiod=14)

train

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,ema,adx
0,1514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218,NaN,NaN
1,1514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399,NaN,NaN
2,1514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643,NaN,NaN
3,1514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922,NaN,NaN
4,1514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN,156.788956,18.514184
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN,2424.841997,18.650841
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN,0.091360,23.033844
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN,0.281678,15.025228
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN,232.068561,16.096834