In [1]:
import pandas as pd

a = pd.DataFrame([1, 2, 3, 4, 5], columns=['row_id'])
b = pd.DataFrame([2, 3, 4, 5, 6], columns=['row_id'])
a.head()

   row_id
0       1
1       2
2       3
3       4
4       5

In [2]:
b.head()

   row_id
0       2
1       3
2       4
3       5
4       6

In [9]:
a[a.row_id.isin(b.row_id.values)]

   row_id
1       2
2       3
3       4
4       5